$purple: #7853cd !default;
$blue: darken(#72d0f4, 30%);
$green: #24b47e;
$red: darken(red, 5%);

$golden-ratio: 1.61803398875;

$primary-color: purple !default;
$secondary-color: $blue !default;
$tertiary-color: $green !default;

$primary: $primary-color;

$light-blue: #f6f9fc;
$light-blue-1: darken($light-blue, 1%);
$light-blue-2: darken($light-blue, 3%);
$light-blue-3: darken($light-blue, 10%);

$light-grey: lighten(#f2f4f6, 1.5%);
$light-grey-1: darken($light-grey, 1%);
$light-grey-2: darken($light-grey, 2%);

$main-font: "Open Sans", sans-serif !default;
$title-font: "Open Sans", sans-serif !default;

$title-font-weight: 800 !default;

$text-color: rgb(90, 107, 130) !default;

$text-color-5: $text-color;

$text-color-4: lighten($text-color-5, 6%);
$text-color-3: lighten($text-color-4, 6%);
$text-color-2: lighten($text-color-3, 6%);
$text-color-1: lighten($text-color-2, 6%);

$text-color-6: darken($text-color-5, 6%);
$text-color-7: darken($text-color-6, 6%);
$text-color-8: darken($text-color-7, 6%);
$text-color-9: darken($text-color-8, 6%);

$bg-color: #ebf1f8 !default;

$bg-color-5: $bg-color;

$bg-color-4: lighten($bg-color-5, 1%);
$bg-color-3: lighten($bg-color-4, 2%);
$bg-color-2: lighten($bg-color-3, 2%);
$bg-color-1: lighten($bg-color-2, 2%);

$bg-color-6: darken($bg-color-5, 1%);
$bg-color-7: darken($bg-color-6, 1%);
$bg-color-8: darken($bg-color-7, 1%);
$bg-color-9: darken($bg-color-8, 1%);

$title-color: $text-color-7;

