@import "core";
@import "normalize";

.form-footer {
  border-top: 1px solid rgba($blue, 0.1);
  padding-top: 2rem;
  margin-top: 1rem;
}

.accordion {
  > .item {
    // position: relative;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgba(black, 0.05);

    > .header {
      color: var(--text-color);
      cursor: pointer;
      padding: 0px 1rem;
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(black, 0.08);
      box-shadow: 0 -0px 3px rgba(black, 0.1);
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all 0.2s ease;
      background: var(--color-layer-4);
      position: relative;
      font-size: 16px;

      &.small {
        font-size: 14px;
      }

      &[draggable="true"] {
        cursor: ns-resize;
      }

      &:hover {
      }

      > .name {
        padding: 10px 0;
        height: 100%;

        input {
          color: inherit;
          border: none;
          padding: 0;
          padding-bottom: 0.2em;
          border-bottom: 1px solid transparent;

          &:focus {
            color: rgba(darken($purple, 20%), 1);
            outline: none;
            border-bottom-color: rgba($purple, 1.0);
          }
        }
      }

      > .actions {
        height: 100%;
        i {
          color: var(--text-color);
          opacity: 0.5;
          cursor: pointer;
          padding: 0.65em 0.5em;
          border-radius: 3px;
          font-size: 0.8em;
          transition: all 0.2s ease;
          height: 100%;

          &:last-child {
            margin-left: 0.5em;
          }
          &:hover {
            color: $primary;
            opacity: 1;
          }
          &:active {
            background: rgba(darken($primary, 20%), 0.05);
          }
          &.active {
            background: rgba(darken($purple, 20%), 0.05);
            color: darken($purple, 20%);
            opacity: 1;
          }
        }
      }

      > .toggle {
        cursor: pointer;
        display: block;
        height: 100%;
        width: 1.0em;
        font-size: 1em;
        margin-right: 0.5em;
        opacity: 0.3;
      }
    }

    &.clickable {
      > .header > .toggle {
        display: none;
      }

      &:hover {
        border: 1px solid rgba($primary, 0.4);
        box-shadow: 0 1px 3px rgba($primary, 0.1);
        > .header {
          background: rgba(lighten($primary, 50%), 0.1);
        }
      }
    }


    > .content {
      position: absolute;
      display: none;
      width: 100%;
      pointer-events: none;
      background: #fff;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 1px 3px rgba(black, 0.1);
    }

    &.active {
      margin-bottom: 1rem;

      > .header {
        background: #fefefe;
        border-radius: 5px 5px 0 0;
        text-shadow: 0 1px 2px rgba(black, 0.05);
      }

      > .content {
        position: static;
        display: block;
        pointer-events: initial;
      }
    }
  }
}

.form-field-subdomain {
  .input-wrapper::before {
    content: '.frontdeck.io';
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 0.6em 0.9em;
    .input {
      padding-right: 7em;
    }
  }
}

.block-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 -10px;

  .block-list__container {
    width: 25%;
    display: flex;
    padding: 10px;
  }

  &.block-list--3-col .block-list__container {
    width: 33.3333%;
  }

  &__button {
    border: none;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgba($primary, 0.1);
    background: lighten($primary, 50%);
    color: darken($primary, 20%);
    transition: all 0.2s ease;
    align-items: center;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;

    font-size: 18px;
    font-weight: 700;

    > i {
      font-size: 26px;
      margin-bottom: 13px;
    }

    &:hover {
      border-color: rgba($primary, 0.5);
    }

    &:active {
      background: $primary;
      color: #fff;
    }
  }

  .block-list__block {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgba(black, 0.05);
    box-shadow: 0px 1px 3px rgba(black, 0.02);
    transition: border-color 0.2s ease;
    background: #fff;
    width: 100%;

    &--clickable {
      cursor: pointer;

      &:hover {
        border-color: rgba(black, 0.15);
      }
    }

    &--selected {
      border-color: rgba($primary, 0.8) !important;
      box-shadow: 0px 1px 3px rgba($primary, 0.2);
    }

    .image {
      margin-bottom: 1em;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 5px;
      &--small {
        font-size: 12px;
      }
    }

    &__description {
      margin-top: 5px;
      font-size: 0.8rem;
      color: var(--text-color-4);
    }

    &__footer {
      margin-top: 5px;

      > .btn {
        display: block;
        margin-top: 8px;
        width: 100%;
      }
    }

    > img {
      width: 100%;
      height: auto;
    }
  }
}

.route-selector {
  flex-grow: 1;
  max-width: 300px;
}

.form-field {
  margin-bottom: 16px;
}

.form-field-container-group > .form-field {
  margin-bottom: 0;
}
